body {
  font-family: "poppins", "Segoe UI", Verdana, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}

.container {
  text-align: center;
  width: 330px;
  height: 420px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

h1 {
  font-size: 25px;
  margin-top: 20px;
  padding-top: 10px;
  color: #7354f6;
}

nav {
  position: relative;
  margin-top: 25px;
  z-index: 9999;
}

nav a {
  text-decoration: none;
}

button {
  padding: 10px 30px;
  border-radius: 5px;
  z-index: 9999;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  color: #fff;
  background-color: #7354f6;
}

button:hover {
  background-color: #4f3da6;
}

/* Animasi Lottie */
dotlottie-player {
  width: 280px;
  height: 350px;
  margin: -40px auto 0;
}

.dotlottie-player-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 365px) {
  .container {
    max-width: 85vw;
  }

  dotlottie-player {
    width: 85vw;
    height: 350px;
    margin: -40px auto 0;
  }
}

@font-face {
  font-family: "poppins";
  src: url(../poppins/Poppins-Regular.otf);
}
