body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #007bff;
}

.container {
  padding: 2rem;
  margin: 0 auto;
  border-radius: 10px;
  width: 400px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
  width: 100%;
  margin: 0 auto;
}

input[type="text"],
input[type="file"],
select {
  width: 94%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

select {
  padding-right: 30px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="%23ccc"><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/></svg>');
  background-position: right 10px center;
  background-size: 20px;
  width: 100%;
  appearance: none;
  background-repeat: no-repeat;
}

button {
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 40px;
  display: block;
  width: 100%;
  color: #fff;
  background-color: #007bff;
}

button:hover {
  background-color: #0056b3;
}

.button-data-siswa,
.back-home {
  padding: 10px 20px;
  border-radius: 3px;
  min-width: 100%;
  margin: -30px 0 40px;
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: #007bff;
}

button.back-home:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 480px) {
  .container {
    padding: 2rem;
    margin: 0 auto;
    border-radius: 10px;
    width: 80vw;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}

@font-face {
  font-family: "poppin";
  src: url(../poppins/Poppins-Regular.otf);
}
