body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
}

.container {
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  max-width: 400px;
  margin: 30px auto;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #7354f6; 
}

.foto-siswa {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 10px auto;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type="text"],
input[type="password"],
input[type="file"],
select {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
select {
  appearance: none;
  padding-right: 30px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="%23ccc"><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;
  width: calc(100% - 0.1px);
}

button {
  width: calc(100% - 1px);
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: #7354f6;
}

button:hover {
  background-color: #4f3da6;
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 6.8vw;
    color: #7354f6;
  }
  .container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    width: 80vw;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
}

@font-face {
  font-family: "poppins";
  src: url(../../poppins/Poppins-Regular.otf);
}
